@{
    ViewData["Title"] = "Home Page";
}
    <br/>
    <div class="text-center, intro">
        <h1 class="display-4">Welcome SLP</h1>
        <br/>
        <div class="instructions">
            <h2>Set your caseload up for success!</h2>
            <br />
            <p>Add your facilities</p>
            <p>List the assessment tools you frequently use </p>
            <p>Quickly view and manage your caseload</p>
            <p>Check if therapy sessions are in compliance</p>
        </div>
        <br />
        <p>
            <a class="btn btn-outline-dark btn-sm " asp-action="Index" asp-controller="Clients">View your caseload</a>
        </p>

    </div>
