@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome SLP!</h1>

        <p>
            <h2>Set your caseload up for SLP success!</h2>
            <ul>
            <li>Add your facilities</li>
            <li>List the assessment tools you frequently use </li>
            <li>Quickly view and manage your caseload</li>
            <li>Check if therapy sessions are in compliance</li>
            </ul>
        </p>
        <p>
            <a asp-action="Index" asp-controller="Clients">View your caseload</a>
        </p>

    </div>
