@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome SLP!</h1>
    <p>(make this a link) View your caseload @*<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>*@.</p>
</div>
