@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome SLP!</h1>

        <p>
            <a asp-action="Index" asp-controller="Clients">View your caseload</a>
        </p>

    </div>
