@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome SLP!</h1>

        <p>
            <a asp-action="Index" asp-controller="Clients">View your caseload</a>
        </p>
        <p>
            1) Add the facilites you work at
            2) Add Assessments you frequently use at your facility
            3) Quickly view your entire caseload and quickly determine which patients you need to see
            4) Add assessments you've administered to a client and record their score
            5) Determine if the client is eligible or ineligible for therapy 
            6) If a client is eligible, Add their Diagnosis, tx Session count and any goals you'd like to work on
            7) If you've seen a client for therapy, log their session by recording the date, goal you worked on, and any notes
        </p>

    </div>
