/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.nav-image{
    padding:4px;
}
.nav-size {
    height: 95px !important;
}

.instructions{
    margin: 3px !important;
}

.top-caseload {
display: flex;
justify-content: space-evenly !important;
align-items: center;
}
.my-legend {
    text-align: left;
}
/*client details*/
.client-details{
    display: flex;
    flex-direction:column;
    text-align: left;
}
.create-client {
    margin-left: 41%;
}
.edit-client_position {
    margin-left: 41%;
}
/*Therapy Sessions*/
.sessionTable-position {
    overflow-y: scroll;
    height: 370px;
}
.txSession-flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
/*Assessments*/
.assessment-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.assessment-scroll {
    overflow-y: scroll;
    height: 370px;
}
.create-assessment {
    margin-left: 41%;
}
.delete-assessment_card{
    margin-left: 37%;
}
/*Facilities*/
.create-facility {
    margin-left: 41%;
}

.facilitiy-flex {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}
.facility-table {
    text-align: left;
}
.facility-scroll {
    overflow-y: scroll;
    height: 330px;
    margin-right: 40px;
}
/*Compliance*/
.compliance-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.compliance-scroll {
    overflow-y: scroll;
    height: 330px;
}
/*Goals*/
.delete-goal_card {
    margin-left: 37%;
}


.assessment-table {
    text-align: left;
}
.assessment-textCenter {
    text-align: center;
}
.txSession-table {
    text-align: left;
}
.compliance-table {
    text-align: left;
}
.compliance-textCenter{
    text-align:center;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
